{% extends 'layouts/layout.twig' %} {% block content %}
<header class="main-menu">
  <span class="logo">Inna</span>
  <div class="topnav-right">
    <a href="#news">Home</a>
    <a href="#news">About</a>
    <a href="#contact">Documentation</a>
    <a href="#search">Contact</a>
  </div>
</header>
<section class="hero-box">
  <p class="hero-title">
    <iconify-icon icon="circum:coffee-cup" class="icon-coffee-left heart"></iconify-icon>
    <span class="i">I</span>n<span class="n">n</span>a
    <span class="f">F</span>r<span class="a">a</span>m<span class="e">e</span
    >w<span class="o">o</span>r<span class="k">k</span>
    <iconify-icon icon="circum:coffee-cup" class="icon-coffee-right heart"></iconify-icon>
  </p>
  <p class="hero-subtitle">
    This is a PHP minimal framework which allows you to control every bit of it.
  </p>
  <button class="hero-btn">Get started</button>
</section>
{% endblock %}
