{% extends 'layouts/layout.twig' %} {% block content %}
<header class="main-menu">
  <span class="logo">Inna</span>
  <div class="topnav-right">
    <a href="#news">Home</a>
    <a href="#news">About</a>
    <a href="#contact">Documentation</a>
    <a href="#search">Contact</a>
  </div>
</header>
<section class="hero-text">
    <p>
        <span class="i">I</span>n<span class="n">n</span>a <span class="f">F</span>r<span class="a">a</span>m<span class="e">e</span>work</p>
</section>
{% endblock %}
