{% extends 'layouts/layout.twig' %} {% block content %}
    <div align="center">
        <h1 class="mt-5">Hello, INNA Framework!</h1>
            <span><i class=" fa fa-4x fa-smile fa-bounce" style="color:green;"></i></span>
    </div>
    <button class="btn btn-danger">Ajax</button>
{% endblock %}