{% extends 'layouts/layout.twig' %} {% block content %}
<div class="container col-md-5 mt-5">
    {{ errors | raw }}
    <form action="" method="post">
        <!-- First row -->
        {{ flash | raw}}
        <div class="form-col row-eq-spacing-sm">
            <div class="col-sm">
                <label for="first-name" class="required">Username</label>
                <input type="text" class="form-control {% if (model['username'] == '') %} is-invalid {% endif %}" name="username" placeholder="Username" value="{{ model['username'] }}" />
            </div>
            <div class="col-sm">
                <label for="last-name">Password</label>
                <input type="password" class="form-control {% if (model['pass'] == '') %} is-invalid {% endif %}" name="pass" placeholder="Password" value="{{ model['pass'] }}" />
            </div>
        </div><br>

        <!-- Submit button container -->
        <div class="text-right">
            <!-- text-right = text-align: right -->
            <input class="btn btn-primary btn-block" type="submit" value="Submit" />
        </div>
    </form>
</div>

{% endblock %}