{% extends 'layouts/layout.twig' %}
{% block content %}
  <h1>
    {% apply upper %}You're lost! Go back home{% endapply %}
  </h1>
  <a href="/"><button class="btn btn-danger">Go Home</button></a>
{% endblock %}
