<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Halfmoon CSS -->
    <link href="{{ static }}/css/halfmoon.min.css" rel="stylesheet" />
    <!--       
    Or,
    Use the following (no variables, supports IE11):
    <link href="path/to/halfmoon.min.css" rel="stylesheet" />
           -->
    <title>
        INNA Framework
    </title>
</head>

<body>
    {% block content %} {% endblock %}
    <!-- Halfmoon JS -->
    <script src="{{ static }}/js/halfmoon.min.js"></script>
</body>

</html>