<header class="main-menu">
  <span class="logo">Inna</span>
  <div class="topnav-right">
    <a href="/">Home</a>
    {# <a href="#">About</a> #}
    <a href="/docs">Documentation</a>
    <a href="#">Contact</a>
  </div>
</header>
